***Installation Option 1***

In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

In [2]:
sql_host = '10.129.0.25'

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [7]:
query = 'SELECT * FROM seats LIMIT 5'

In [13]:
c = psycopg2.connect(
        dbname = 'demo',
        user = os.environ['POSTGRESQL_USER'],
        password = os.environ['POSTGRESQL_PASSWORD'],
        host = sql_host
)
cur = c.cursor()

In [18]:
cur.execute(query)
recs = cur.fetchall()
cur.close()
c.close()

In [19]:
recs

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

***Simple query***

In [29]:
query1 = 'SELECT * FROM tickets LIMIT 10 '

In [30]:
c = psycopg2.connect(
        dbname = 'demo',
        user = os.environ['POSTGRESQL_USER'],
        password = os.environ['POSTGRESQL_PASSWORD'],
        host = sql_host
)
cur = c.cursor()

In [31]:
cur.execute(query1)
recs = cur.fetchall()
cur.close()
c.close()

In [32]:
recs

[('0005432719153',
  '1ECBE6',
  '0516 136497',
  'VLADISLAV KULIKOV',
  {'email': 'kulikov_v_1981@postgrespro.ru', 'phone': '+70679265637'}),
 ('0005432719154',
  'B4B21D',
  '0963 063781',
  'TATYANA SOROKINA',
  {'email': 'tatyanasorokina-10091969@postgrespro.ru',
   'phone': '+70692948484'}),
 ('0005432719155',
  '2D92B5',
  '9451 632966',
  'SVETLANA SEMENOVA',
  {'email': 'semenova-s.031967@postgrespro.ru', 'phone': '+70057427993'}),
 ('0005432719156',
  '2D92B5',
  '7136 487296',
  'IRINA MIKHAYLOVA',
  {'email': 'mikhaylova-irina16011988@postgrespro.ru',
   'phone': '+70527780753'}),
 ('0005432719157',
  '4E74E6',
  '2417 049756',
  'ALEKSEY NIKITIN',
  {'phone': '+70706608547'}),
 ('0005432719158',
  'F489C5',
  '1673 546174',
  'ANTON CHERNOV',
  {'email': 'chernov-anton.1961@postgrespro.ru', 'phone': '+70893986107'}),
 ('0005432719159',
  'F489C5',
  '4134 882068',
  'VALERIY MOROZOV',
  {'email': 'morozovvaleriy-101971@postgrespro.ru', 'phone': '+70273394479'}),
 ('0005432719160',
  '09C7A3',
  '9438 895738',
  'ELENA NAZAROVA',
  {'phone': '+70081508290'}),
 ('0005432719161',
  '3FE8D2',
  '1757 205351',
  'VALENTINA PETROVA',
  {'phone': '+70864490829'}),
 ('0005432719162',
  '360D93',
  '2340 025252',
  'OLGA MAKAROVA',
  {'phone': '+70427927672'})]

***Option 2***

In [35]:
with psycopg2.connect(
        dbname = 'demo',
        user = os.environ['POSTGRESQL_USER'],
        password = os.environ['POSTGRESQL_PASSWORD'],
        host = sql_host
) as c:
    with c.cursor() as cur:
        cur.execute('SELECT * FROM airports LIMIT 10')
        rec = cur.fetchall()

In [36]:
rec

[('YKS',
  'Yakutsk Airport',
  'Yakutsk',
  '(129.77099609375,62.093299865722656)',
  'Asia/Yakutsk'),
 ('MJZ',
  'Mirny Airport',
  'Mirnyj',
  '(114.03900146484375,62.534698486328125)',
  'Asia/Yakutsk'),
 ('KHV',
  'Khabarovsk-Novy Airport',
  'Khabarovsk',
  '(135.18800354004,48.52799987793)',
  'Asia/Vladivostok'),
 ('PKC',
  'Yelizovo Airport',
  'Petropavlovsk',
  '(158.45399475097656,53.16790008544922)',
  'Asia/Kamchatka'),
 ('UUS',
  'Yuzhno-Sakhalinsk Airport',
  'Yuzhno-Sakhalinsk',
  '(142.71800231933594,46.88869857788086)',
  'Asia/Sakhalin'),
 ('VVO',
  'Vladivostok International Airport',
  'Vladivostok',
  '(132.1479949951172,43.39899826049805)',
  'Asia/Vladivostok'),
 ('LED',
  'Pulkovo Airport',
  'St. Petersburg',
  '(30.262500762939453,59.80030059814453)',
  'Europe/Moscow'),
 ('KGD',
  'Khrabrovo Airport',
  'Kaliningrad',
  '(20.592599868774414,54.88999938964844)',
  'Europe/Kaliningrad'),
 ('KEJ',
  'Kemerovo Airport',
  'Kemorovo',
  '(86.1072006225586,55.27009963989258)',
  'Asia/Novokuznetsk'),
 ('CEK',
  'Chelyabinsk Balandino Airport',
  'Chelyabinsk',
  '(61.5033,55.305801)',
  'Asia/Yekaterinburg')]

***Option 3***

In [4]:
%load_ext sql

In [2]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [5]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [6]:
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [7]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [8]:
print(CONNECT_DATA)

postgresql://reader:Miba2021@10.129.0.25/demo

In [9]:
%%sql $CONNECT_DATA
    SELECT * FROM pg_database

4 rows affected.

[(13760, 'postgres', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, None),
 (1, 'template1', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, True, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (13759, 'template0', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, False, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (16384, 'demo', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, '{=Tc/postgres,postgres=CTc/postgres,reader=c/postgres}')]

In [10]:
%sql SELECT tablename AS table FROM pg_tables WHERE tablename !~ '^(pg_|sql_)'

 * postgresql://reader:***@10.129.0.25/demo
8 rows affected.

[('boarding_passes',),
 ('aircrafts_data',),
 ('flights',),
 ('airports_data',),
 ('seats',),
 ('tickets',),
 ('ticket_flights',),
 ('bookings',)]

In [11]:
result = %sql SELECT * FROM seats LIMIT 5

 * postgresql://reader:***@10.129.0.25/demo
5 rows affected.

In [12]:
display(result)

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

In [13]:
print(result.keys)

RMKeyView(['aircraft_code', 'seat_no', 'fare_conditions'])

In [14]:
result[0][0]

'319'

In [16]:
res = %sql SELECT model FROM aircrafts
display(res)

 * postgresql://reader:***@10.129.0.25/demo
9 rows affected.

[('Boeing 777-300',),
 ('Boeing 767-300',),
 ('Sukhoi Superjet-100',),
 ('Airbus A320-200',),
 ('Airbus A321-200',),
 ('Airbus A319-100',),
 ('Boeing 737-300',),
 ('Cessna 208 Caravan',),
 ('Bombardier CRJ-200',)]

In [23]:
res = %sql SELECT airport_name, airport_code FROM airports LIMIT 30

 * postgresql://reader:***@10.129.0.25/demo
30 rows affected.

In [24]:
display(res)

[('Yakutsk Airport', 'YKS'),
 ('Mirny Airport', 'MJZ'),
 ('Khabarovsk-Novy Airport', 'KHV'),
 ('Yelizovo Airport', 'PKC'),
 ('Yuzhno-Sakhalinsk Airport', 'UUS'),
 ('Vladivostok International Airport', 'VVO'),
 ('Pulkovo Airport', 'LED'),
 ('Khrabrovo Airport', 'KGD'),
 ('Kemerovo Airport', 'KEJ'),
 ('Chelyabinsk Balandino Airport', 'CEK'),
 ('Magnitogorsk International Airport', 'MQF'),
 ('Bolshoye Savino Airport', 'PEE'),
 ('Surgut Airport', 'SGC'),
 ('Bryansk Airport', 'BZK'),
 ('Mineralnyye Vody Airport', 'MRV'),
 ('Stavropol Shpakovskoye Airport', 'STW'),
 ('Astrakhan Airport', 'ASF'),
 ('Nizhnevartovsk Airport', 'NJC'),
 ('Koltsovo Airport', 'SVX'),
 ('Sheremetyevo International Airport', 'SVO'),
 ('Voronezh International Airport', 'VOZ'),
 ('Vnukovo International Airport', 'VKO'),
 ('Syktyvkar Airport', 'SCW'),
 ('Kurumoch International Airport', 'KUF'),
 ('Domodedovo International Airport', 'DME'),
 ('Roshchino International Airport', 'TJM'),
 ('Nizhny Novgorod Strigino International Airport', 'GOJ'),
 ('Bogashevo Airport', 'TOF'),
 ('Ust-Ilimsk Airport', 'UIK'),
 ('Norilsk-Alykel Airport', 'NSK')]

In [25]:
import psycopg2

with psycopg2.connect(
    dbname='jovyan'
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT datname FROM pg_database')
        records = cur.fetchall()
        
print(records)

[('postgres',), ('jovyan',), ('template1',), ('template0',)]

In [26]:
%%sql postgresql:///jovyan
    SELECT * FROM pg_database

4 rows affected.

[(13761, 'postgres', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (16385, 'jovyan', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (1, 'template1', 10, 6, 'C.UTF-8', 'C.UTF-8', True, True, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (13760, 'template0', 10, 6, 'C.UTF-8', 'C.UTF-8', True, False, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')]

In [27]:
%%sql postgresql:///jovyan
CREATE TABLE writers (
    first_name text NOT NULL, 
    last_name text NOT NULL, 
    year_of_death text NOT NULL
);
INSERT INTO writers VALUES ('William', 'Shakespeare', '1616');
INSERT INTO writers VALUES ('Bertold', 'Brecht', '1956')

Done.
1 rows affected.
1 rows affected.

[]

In [28]:
%sql SELECT tablename AS table FROM pg_tables WHERE tablename !~ '^(pg_|sql_)'

 * postgresql:///jovyan
   postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[('writers',)]

In [29]:
%sql SELECT * FROM writers

 * postgresql:///jovyan
   postgresql://reader:***@10.129.0.25/demo
2 rows affected.

[('William', 'Shakespeare', '1616'), ('Bertold', 'Brecht', '1956')]

In [ ]:
!wget https://edu.postgrespro.com/demo-small-en.zip && unzip -o demo-small-en.zip
!psql -a -f  demo-small-en-20170815.sql
!rm demo-small-en.zip demo-small-en-20170815.sql

In [31]:
%%sql postgresql:///demo
    SELECT * FROM pg_database

5 rows affected.

[(13761, 'postgres', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (16385, 'jovyan', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (1, 'template1', 10, 6, 'C.UTF-8', 'C.UTF-8', True, True, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (13760, 'template0', 10, 6, 'C.UTF-8', 'C.UTF-8', True, False, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (24581, 'demo', 16384, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None)]

In [32]:
%sql SELECT * FROM tickets LIMIT 5

 * postgresql:///demo
   postgresql:///jovyan
   postgresql://reader:***@10.129.0.25/demo
5 rows affected.

[('0005432000987', '06B046', '8149 604011', 'VALERIY TIKHONOV', {'phone': '+70127117011'}),
 ('0005432000988', '06B046', '8499 420203', 'EVGENIYA ALEKSEEVA', {'phone': '+70378089255'}),
 ('0005432000989', 'E170C3', '1011 752484', 'ARTUR GERASIMOV', {'phone': '+70760429203'}),
 ('0005432000990', 'E170C3', '4849 400049', 'ALINA VOLKOVA', {'email': 'volkova.alina_03101973@postgrespro.ru', 'phone': '+70582584031'}),
 ('0005432000991', 'F313DD', '6615 976589', 'MAKSIM ZHUKOV', {'email': 'm-zhukov061972@postgrespro.ru', 'phone': '+70149562185'})]