***Installation Option 1***

In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

In [2]:
sql_host = '10.129.0.25'

In [6]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [7]:
query = 'SELECT * FROM seats LIMIT 5'

In [13]:
c = psycopg2.connect(
        dbname = 'demo',
        user = os.environ['POSTGRESQL_USER'],
        password = os.environ['POSTGRESQL_PASSWORD'],
        host = sql_host
)
cur = c.cursor()

In [18]:
cur.execute(query)
recs = cur.fetchall()
cur.close()
c.close()

In [19]:
recs

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

***Simple query***

In [29]:
query1 = 'SELECT * FROM tickets LIMIT 10 '

In [30]:
c = psycopg2.connect(
        dbname = 'demo',
        user = os.environ['POSTGRESQL_USER'],
        password = os.environ['POSTGRESQL_PASSWORD'],
        host = sql_host
)
cur = c.cursor()

In [31]:
cur.execute(query1)
recs = cur.fetchall()
cur.close()
c.close()

In [32]:
recs

[('0005432719153',
  '1ECBE6',
  '0516 136497',
  'VLADISLAV KULIKOV',
  {'email': 'kulikov_v_1981@postgrespro.ru', 'phone': '+70679265637'}),
 ('0005432719154',
  'B4B21D',
  '0963 063781',
  'TATYANA SOROKINA',
  {'email': 'tatyanasorokina-10091969@postgrespro.ru',
   'phone': '+70692948484'}),
 ('0005432719155',
  '2D92B5',
  '9451 632966',
  'SVETLANA SEMENOVA',
  {'email': 'semenova-s.031967@postgrespro.ru', 'phone': '+70057427993'}),
 ('0005432719156',
  '2D92B5',
  '7136 487296',
  'IRINA MIKHAYLOVA',
  {'email': 'mikhaylova-irina16011988@postgrespro.ru',
   'phone': '+70527780753'}),
 ('0005432719157',
  '4E74E6',
  '2417 049756',
  'ALEKSEY NIKITIN',
  {'phone': '+70706608547'}),
 ('0005432719158',
  'F489C5',
  '1673 546174',
  'ANTON CHERNOV',
  {'email': 'chernov-anton.1961@postgrespro.ru', 'phone': '+70893986107'}),
 ('0005432719159',
  'F489C5',
  '4134 882068',
  'VALERIY MOROZOV',
  {'email': 'morozovvaleriy-101971@postgrespro.ru', 'phone': '+70273394479'}),
 ('0005432719160',
  '09C7A3',
  '9438 895738',
  'ELENA NAZAROVA',
  {'phone': '+70081508290'}),
 ('0005432719161',
  '3FE8D2',
  '1757 205351',
  'VALENTINA PETROVA',
  {'phone': '+70864490829'}),
 ('0005432719162',
  '360D93',
  '2340 025252',
  'OLGA MAKAROVA',
  {'phone': '+70427927672'})]

***Option 2***

In [35]:
with psycopg2.connect(
        dbname = 'demo',
        user = os.environ['POSTGRESQL_USER'],
        password = os.environ['POSTGRESQL_PASSWORD'],
        host = sql_host
) as c:
    with c.cursor() as cur:
        cur.execute('SELECT * FROM airports LIMIT 10')
        rec = cur.fetchall()

In [36]:
rec

[('YKS',
  'Yakutsk Airport',
  'Yakutsk',
  '(129.77099609375,62.093299865722656)',
  'Asia/Yakutsk'),
 ('MJZ',
  'Mirny Airport',
  'Mirnyj',
  '(114.03900146484375,62.534698486328125)',
  'Asia/Yakutsk'),
 ('KHV',
  'Khabarovsk-Novy Airport',
  'Khabarovsk',
  '(135.18800354004,48.52799987793)',
  'Asia/Vladivostok'),
 ('PKC',
  'Yelizovo Airport',
  'Petropavlovsk',
  '(158.45399475097656,53.16790008544922)',
  'Asia/Kamchatka'),
 ('UUS',
  'Yuzhno-Sakhalinsk Airport',
  'Yuzhno-Sakhalinsk',
  '(142.71800231933594,46.88869857788086)',
  'Asia/Sakhalin'),
 ('VVO',
  'Vladivostok International Airport',
  'Vladivostok',
  '(132.1479949951172,43.39899826049805)',
  'Asia/Vladivostok'),
 ('LED',
  'Pulkovo Airport',
  'St. Petersburg',
  '(30.262500762939453,59.80030059814453)',
  'Europe/Moscow'),
 ('KGD',
  'Khrabrovo Airport',
  'Kaliningrad',
  '(20.592599868774414,54.88999938964844)',
  'Europe/Kaliningrad'),
 ('KEJ',
  'Kemerovo Airport',
  'Kemorovo',
  '(86.1072006225586,55.27009963989258)',
  'Asia/Novokuznetsk'),
 ('CEK',
  'Chelyabinsk Balandino Airport',
  'Chelyabinsk',
  '(61.5033,55.305801)',
  'Asia/Yekaterinburg')]

***Option 3***

In [2]:
%load_ext sql

In [73]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.8.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.8.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [20]:
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [21]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [22]:
print(CONNECT_DATA)

postgresql://reader:Miba2021@10.129.0.25/demo

In [23]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
%sql $CONNECT_DATA

In [44]:
res = %sql SELECT * FROM airports LIMIT 5

 * postgresql://reader:***@10.129.0.25/demo
5 rows affected.

KeyError: 'DEFAULT'

In [43]:
%config SqlMagic

SqlMagic(Magics, Configurable) options
------------------------------------
SqlMagic.autocommit=<Bool>
    Set autocommit mode
    Current: True
SqlMagic.autolimit=<Int>
    Automatically limit the size of the returned result sets
    Current: 0
SqlMagic.autopandas=<Bool>
    Return Pandas DataFrames instead of regular result sets
    Current: True
SqlMagic.column_local_vars=<Bool>
    Return data into local variables from column names
    Current: False
SqlMagic.displaycon=<Bool>
    Show connection string after execute
    Current: True
SqlMagic.displaylimit=<Int>
    Automatically limit the number of rows displayed (full result set is still
    stored)
    Current: None
SqlMagic.dsn_filename=<Unicode>
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
    Current: 'odbc.ini'
SqlMagic.feedback=<Bool>
    Print number of rows affected by DML
    Current: True
SqlMagic.short_errors=<Bool>
    Don't display the full traceback on SQL Programming Error
    Current: True
SqlMagic.style=<Unicode>
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM)
    Current: 'DEFAULT'

In [42]:
%config SqlMagic.style = 'DEFAULT'

In [40]:
%config SqlMagic.autopandas = True